<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688750688794-esgete0tmbsvjkdp95o9894ue7d1t6vi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688750688794-esgete0tmbsvjkdp95o9894ue7d1t6vi</string>
	<key>API_KEY</key>
	<string>AIzaSyDDm-chxLrYUChImAszDnkzI4opVPRUrXE</string>
	<key>GCM_SENDER_ID</key>
	<string>688750688794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jakepaulers.askkit.askkit</string>
	<key>PROJECT_ID</key>
	<string>askkit-3071b</string>
	<key>STORAGE_BUCKET</key>
	<string>askkit-3071b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688750688794:ios:fb8a840128e657981e2fa3</string>
	<key>DATABASE_URL</key>
	<string>https://askkit-3071b.firebaseio.com</string>
</dict>
</plist>